**/__pycache__/**
**/.ipynb_checkpoints/**
**/_results/**
**/*_models/**
**/*.egg-info/
**/saved_models/**
**/MTrfg_env/**
**/MTrfg_reproduce/**
dist/mtrfg-0.0.1-py3.8.egg
**/_models/**
**/*.egg-info/
*.code-workspace
**/**-splits_**/**
data/Recipe1M/dev.txt
wandb/**
data/Recipe1M/layer1.json
data/Recipe1M/layer2.json
data/Recipe1M/train.txt
